
*.o

Makefile

moc_ai.cpp

qrc_qml.cpp

4Stones.app/Contents/MacOS/4Stones
*.user
*.062f3d7
*.user

*.o

grid.o

*.o

player.o

qrc_qml.o

4Stones.pro.user

player.o

grid.o

qrc_qml.o

4Stones.pro.user
