
*.o

moc_*

Makefile

qrc_qml.cpp

4Stones.app/Contents/MacOS/4Stones

4Stones.app

*.user

*.062f3d7

*.autosave

*.DebugDevice

*.DebugSimulator

*.ReleaseDevice

*.ReleaseSimulator

4Stones.pro.user.18
